/* PRODUCT */
.exo-top {}
.exo-top h2 {
    width:82%;
    margin: 0 auto;
    font-size:30px;
    line-height: 30px;
}
.komposisi .box {
    width: 55%;
}
.komposisi .title h2,
.saji .title h2 {
    letter-spacing: 10px;
}
.komposisi .center-block {
    float: none;
}
.komposisi .title img {
    margin-top: 40px;
}
.saji p.lead {
    padding: 0 100px;
}
.komposisi .inner-title.title-center:before,
.saji .inner-title.title-center:before {
  background: none;
}

/*@media all and (min-width: 414px) {
    .exo-top h2.exo-tagline {
        font-size:20px;
        line-height: 35px;
        
    }
}*/

@media all and (max-width:767px) {
    .exo-top h2 {
        font-size: 18px;
        line-height: 20px;
    }
    .exo-top h2.title-no-video {
        font-size:30px;
        line-height: 40px;
        text-align: left !important;
    }
    /*.exo-top h2.whitecoffee {
        font-size:28px;
        line-height: 30px;
        margin-top: 120px;
        text-align: left !important;
    }*/
    /*.exo-top h2.exo-tagline {
        font-size:40px;
        line-height: 35px;
        margin-top: 120px;
        text-align: left !important;
    }*/
    .exo-top h4 {
        font-size: 12px;
        line-height: 14px;
    }
    .komposisi .title h2,
    .saji .title h2 {
        letter-spacing: normal;
    }
    .saji .title h2 {
        line-height: 29px;
    }
    .saji p.lead {
        font-size: 12px;
        line-height: 17px;
        padding: 0 48px;
    }
    .komposisi img {
        margin-top:0;
    }
}

@media all and (max-width:799px) {
    .exo-top h4 {
        font-size: 14px;
        line-height: normal;
    }

}
@media all and (min-width: 1200px) {
    .exo-top h2.title-no-video {
        font-size:44px;
        line-height: 40px;
    }
    .exo-top h2.whitecoffee {
        font-size:30px;
        margin-top: 80px;
    }
}

/* ---- Products Detail ---- */
.bg-holder-prod-detail {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.bg-abc-mix {
    background-color: #000;
    background-image: url('../img/header-product-abc-mix.jpg');
}
.bg-abc-plus {
    background-color: #000;
    background-image: url('../img/header-product-abc-plus.jpg');
}
.bg-abc-susu {
    background-color: #000;
    background-image: url('../img/header-product-abc-susu.jpg');
}
.bg-abc-tubruk {
    background-color: #000;
    background-image: url('../img/header-product-abc-tubruk.jpg');
}
.bg-abc-whitecoffee {
    background-color: #000;
    background-image: url('../img/header-product-whitecoffee.jpg');
}
.bg-abc-exo {
    background-color: #000;
    background-image: url('../img/header-product-exo.jpg');
    background-position: center top !important;
}
.bg-abc-instant {
    background-color: #000;
    background-image: url('../img/header-product-abc-instant.jpg');
}
.bg-abc-mocca {
    background-color: #000;
    background-image: url('../img/header-product-mocca.jpg');
}
@media all and (max-width:414px) {
    .bg-abc-mix {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-mix.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-plus {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-plus.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-susu {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-susu.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-tubruk {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-tubruk.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-whitecoffee {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-whitecoffee.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-exo {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-exo.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-instant {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-instant.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-abc-mocca {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-mocca.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media all and (max-width:767px) {
        .bg-abc-instant {
        height: 100vh;
        background-color: #000;
        background: url('../img/mobile-bg-prod-abc-instant.jpg');
        background-position: center top !important;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


/* ---- Products Navigation---- */
header.stay-top nav.nav-product ul > li > a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
}
nav.nav-product .module.widget-handle i {
    color: #3f2111;
}


/* ---- FILTER PRODUCTS ---- */

.button-area {
    width: 100%;
    text-align: center;
}
.button-area .button {
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 0;
    padding: 0 26px;
    height: 40px;
    min-width: 120px;
    line-height: 36px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 1px solid #eab942;
    border-radius: 21px !important;
    color: #eab942;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
    background: transparent;
}
.button-area .button:hover {
    background-color: #53382c;
    color: #fff;
}
.button-area .button.active {
    background-color: #eab942;
    color: white;
}
.button-area input[type=checkbox] {
    display: none;
}

#mnsry_container {
    position: relative;
}
#mnsry_container:hover img {
    opacity: 0.28;
    border-radius: 8px;
}
#mnsry_container article {
    width: 33.3%;
    padding: 3px;
    min-height: 373px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}
#mnsry_container article h1 {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-weight: 600;
    font-size:12px;
    text-align: center;
    text-transform: uppercase;
    transition: all 1.2s;
    opacity: 0;
}
#mnsry_container article img {
    display: block;
    width: 100%;
    transition: all .8s;
    border-radius: 8px;
}
#mnsry_container article:hover h1 {
    transform: scale(1.2);
    opacity: 1;
}
#mnsry_container article:hover img {
    opacity: 1;
    /*transform: scale(1.04);
    border-radius: 22px;*/
}

#loading_msg {
    position: fixed;
    top: 48%;
    width: 100%;
    z-index: -1;
}

@media (max-width: 860px) {
  #mnsry_container article {
    width: 50%;
    min-height: 150px;
  }
}
@media (max-width: 667px) {
  #mnsry_container article {
    width: 100%;
    min-height: 220px;
  }
}

/* ---- END Products Filter---- */

/* ---- Artikel ---- */
@media all and (max-width: 767px) {
    .sidebar .post-title h5.limit-words {
        font-size: 10px;
    }
}

/* ---- END Artikel---- */

/* Slide Toggle Contact */
#amz-settings {
    width: 300px;
    background: #d8ad55;
    position: fixed;
    top: 100px;
    right: -300px;
    z-index: 999999;
    box-shadow: -10px 0px 25px -1px rgba(0, 0, 0, 0.05);
    transition: right ease 0.3s
}

#amz-settings.moved {
    right: 0px;
    transition: right ease 0.3s
}

#amz-settings-trigger {
    position: absolute;
    top: 0;
    left: -38px;
    width: 38px;
    background: #d8ad55;
    height: 200px;
    margin: auto;
    line-height: 40px;
    border-radius: 3px 0 0 3px;
    padding: 0;
    box-shadow: -10px 0px 25px -1px rgba(0, 0, 0, 0.05)
}

#amz-settings-trigger a {
    display: block;
    text-align: center;
    padding-left: 2px;
    color: #3f2111;
    font-size: 24px;
}
#amz-settings-trigger a:hover {
    color:#fff;
}

#amz-settings-inner {
    padding: 0;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
}

.amz-setting {
    position: relative;
    margin-bottom: 28px;
}

#amz-settings-inner h3 {
    font-size: 24px;
    font-family: "Nexablack", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    color: #3f2111;
    letter-spacing: 1px;
    margin: 10px 0
}

.amz-setting .amz-setting-inner a {
    width: 90px;
    border: 1px solid #eee;
    display: inline-block;
    margin-right: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: "Nexablack", Arial, sans-serif;
    font-size: 11px;
    color: #1a1a1a;
    border-radius: 2px;
    font-weight: 500;
    letter-spacing: .01em;
    margin-bottom: 14px
}

.amz-setting .amz-setting-inner a.active,
.amz-setting .amz-setting-inner a:hover {
    border: none;
    background: #00a9d1;
    color: #fff;
    border: 1px solid #00a9d1
}
#amz-settings-inner button[type="submit"] {
    border: 2px solid #3f2111;
    background: #3f2111;
    color: #d8ad55;
    font-size: 16px;
}
#amz-settings-inner button[type="submit"]:hover {
    border: 2px solid #eab942;
    background: #eab942;
    color: #3f2111;
}
#amz-settings-inner input[type="text"],
#amz-settings-inner textarea {
    background: #d9d2c8;
    color: #848484;
}
.amz-setting .attempted-submit .field-error {
    outline: 2px dashed #ce3838 !important;
    color: #000;
}

@media (max-width:990px) {
    #amz-settings {
        top:50px;
    }
    #amz-settings-inner {
        overflow-y: scroll;
    }
}

@media (min-width: 991px) {
  #amz-settings-inner h3,
  .amz-setting .amz-setting-inner a  {
      font-family: 'Nexablack', Arial, sans-serif;
      color: #3f2111;
    }
}