
@font-face {
  font-family: 'Knockout';
  src: url('Knockout-HTF31-JuniorMiddlewt.eot?#iefix') format('embedded-opentype'),  url('Knockout-HTF31-JuniorMiddlewt.otf')  format('opentype'),
	     url('Knockout-HTF31-JuniorMiddlewt.woff') format('woff'), url('Knockout-HTF31-JuniorMiddlewt.ttf')  format('truetype'), url('Knockout-HTF31-JuniorMiddlewt.svg#Knockout-HTF31-JuniorMiddlewt') format('svg');
  font-weight: normal;
  font-style: normal;
}
