
@font-face {
  font-family: 'NexaBlack';
  src: url('NexaBlack.eot?#iefix') format('embedded-opentype'),  url('NexaBlack.otf')  format('opentype'),
	     url('NexaBlack.woff') format('woff'), url('NexaBlack.ttf')  format('truetype'), url('NexaBlack.svg#NexaBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
